/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono&display=swap');
body {
    font-family: 'Reddit Mono', monospace; /* Aplicar a fonte Reddit Mono */
    font-size: 16px;
    line-height: 1.5;
    color: #ff0000;
    background-color: #000000ef;
    margin: 50px;
    padding: 0;
    
}

/* Estilização de imagens */
.curso-img {
    max-width: 100%; /* Garante que as imagens não ultrapassem o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    
    
}

/* Outros estilos conforme necessário */

a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor padrão do texto */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    transition: color 0.3s ease, background-color 0.3s ease; /* Adiciona uma transição suave */
}

a:hover {
    color: #ffffff; /* Muda a cor do texto quando o mouse passa por cima */
    background-color: #ff0000; /* Muda a cor de fundo quando o mouse passa por cima */
}

.img-container{
    display: block;
    text-align: center;
    border: 4px solid red;
}